<%- include("partials/header"); %>


  <div class="box" id="heading">
    <h1> <%= listTitle %> </h1>
  </div>

  <div class="box">
    
    <% newListItems.forEach(function(newListItem) { %>

      <div class="item">

        <form action="/edit/<%= newListItem.name %>" method="post">
          <button class="editBtn" type="submit" class="edit" name="editedList" value="<%= listTitle %>"><i class="fa-solid fa-pen-to-square"></i></button>
          <input type="hidden" name="itemId" value="<%= newListItem._id %>"></input>
        </form>

        <form action="/delete" method="post">
          <div class="itemName">
            <button type="submit" class="delete" name="checkbox" value="<%= newListItem._id %>"><i class="fa-solid fa-trash-can"></i></button>
            <!-- <p><%=  newListItem.name  %></p> -->
          </div>
          <input type="hidden" name="listDelete" value="<%= listTitle %>"></input>
        </form>

        <!-- <form action="/add" method="post">
          <div class="item">
            <input type="checkbox" name="pantryItem" value="<%= newListItem.name %>"></input>
            <p><%=  newListItem.name  %></p>
          </div>
        </form> -->

        <form action="/add/<%= newListItem.name %>" method="post">
          <div class="itemName">
            <button type="submit" class="editBtn" name="itemId" value="<%= newListItem._id %>"><i class="fa-solid fa-cart-arrow-down"></i></button>
            <p><%=  newListItem.name  %></p>
          </div>
          <input type="hidden" name="listTitle" value="<%= listTitle %>"></input>
        </form>


      </div>
    
    <% }) %>

      <form class="item" action="/" method="post">
        <input class="itemsList" type="text" name="newItem" placeholder="Add A New Item" autocomplete="off">
        <button class="add" type="submit" name="list" value="<%= listTitle %>"><i class="fa-solid fa-plus"></i></button>
      </form>
  </div>


<%- include("partials/footer"); %>